IMPORT LIBRARY

In [1]:
import numpy as np
import pandas as pd
import os 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import FunctionTransformer

IMPORT ML ALGORITHM

In [2]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

In [3]:
df= pd.read_csv("/content/cancer patient data sets.csv")

In [5]:
df.head(10)

,index,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,0,P1,33,1,2,4,5,4,3,2,...,3,4,2,2,3,1,2,3,4,Low
1,1,P10,17,1,3,1,5,3,4,2,...,1,3,7,8,6,2,1,7,2,Medium
2,2,P100,35,1,4,5,6,5,5,4,...,8,7,9,2,1,4,6,7,2,High
3,3,P1000,37,1,7,7,7,7,6,7,...,4,2,3,1,4,5,6,7,5,High
4,4,P101,46,1,6,8,7,7,7,6,...,3,2,4,1,4,2,4,2,3,High
5,5,P102,35,1,4,5,6,5,5,4,...,8,7,9,2,1,4,6,7,2,High
6,6,P103,52,2,2,4,5,4,3,2,...,3,4,2,2,3,1,2,3,4,Low
7,7,P104,28,2,3,1,4,3,2,3,...,3,2,2,4,2,2,3,4,3,Low
8,8,P105,35,2,4,5,6,5,6,5,...,1,4,3,2,4,6,2,4,1,Medium
9,9,P106,46,1,2,3,4,2,4,3,...,1,2,4,6,5,4,2,1,5,Medium

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     1000 non-null   int64
 1   Patient Id                1000 non-null   object
 2   Age                       1000 non-null   int64
 3   Gender                    1000 non-null   int64
 4   Air Pollution             1000 non-null   int64
 5   Alcohol use               1000 non-null   int64
 6   Dust Allergy              1000 non-null   int64
 7   OccuPational Hazards      1000 non-null   int64
 8   Genetic Risk              1000 non-null   int64
 9   chronic Lung Disease      1000 non-null   int64
 10  Balanced Diet             1000 non-null   int64
 11  Obesity                   1000 non-null   int64
 12  Smoking                   1000 non-null   int64
 13  Passive Smoker            1000 non-null   int64
 14  Chest Pain                1000 non-null   int64
 15  Coughing of Blood         1000 non-null   int64
 16  Fatigue                   1000 non-null   int64
 17  Weight Loss               1000 non-null   int64
 18  Shortness of Breath       1000 non-null   int64
 19  Wheezing                  1000 non-null   int64
 20  Swallowing Difficulty     1000 non-null   int64
 21  Clubbing of Finger Nails  1000 non-null   int64
 22  Frequent Cold             1000 non-null   int64
 23  Dry Cough                 1000 non-null   int64
 24  Snoring                   1000 non-null   int64
 25  Level                     1000 non-null   object
dtypes: int64(24), object(2)
memory usage: 203.2+ KB

In [8]:
df.drop(["Patient Id" , "index"], axis = 1 , inplace = True)

In [9]:
df

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,33,1,2,4,5,4,3,2,2,4,...,3,4,2,2,3,1,2,3,4,Low
1,17,1,3,1,5,3,4,2,2,2,...,1,3,7,8,6,2,1,7,2,Medium
2,35,1,4,5,6,5,5,4,6,7,...,8,7,9,2,1,4,6,7,2,High
3,37,1,7,7,7,7,6,7,7,7,...,4,2,3,1,4,5,6,7,5,High
4,46,1,6,8,7,7,7,6,7,7,...,3,2,4,1,4,2,4,2,3,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44,1,6,7,7,7,7,6,7,7,...,5,3,2,7,8,2,4,5,3,High
996,37,2,6,8,7,7,7,6,7,7,...,9,6,5,7,2,4,3,1,4,High
997,25,2,4,5,6,5,5,4,6,7,...,8,7,9,2,1,4,6,7,2,High
998,18,2,6,8,7,7,7,6,7,7,...,3,2,4,1,4,2,4,2,3,High
999,47,1,6,5,6,5,5,4,6,7,...,8,7,9,2,1,4,6,7,2,High

In [10]:
df.replace(to_replace = "Low" , value = 0 , inplace = True)
df.replace(to_replace = "Medium" , value = 1 , inplace = True)
df.replace(to_replace = "High" , value = 2 , inplace = True)

In [11]:
df

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,33,1,2,4,5,4,3,2,2,4,...,3,4,2,2,3,1,2,3,4,0
1,17,1,3,1,5,3,4,2,2,2,...,1,3,7,8,6,2,1,7,2,1
2,35,1,4,5,6,5,5,4,6,7,...,8,7,9,2,1,4,6,7,2,2
3,37,1,7,7,7,7,6,7,7,7,...,4,2,3,1,4,5,6,7,5,2
4,46,1,6,8,7,7,7,6,7,7,...,3,2,4,1,4,2,4,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44,1,6,7,7,7,7,6,7,7,...,5,3,2,7,8,2,4,5,3,2
996,37,2,6,8,7,7,7,6,7,7,...,9,6,5,7,2,4,3,1,4,2
997,25,2,4,5,6,5,5,4,6,7,...,8,7,9,2,1,4,6,7,2,2
998,18,2,6,8,7,7,7,6,7,7,...,3,2,4,1,4,2,4,2,3,2
999,47,1,6,5,6,5,5,4,6,7,...,8,7,9,2,1,4,6,7,2,2

In [12]:
a = df.drop("Level" , axis = 1)
b = df["Level"]

Function transformer

In [13]:
right_skew = []
left_skew = []
for i in df.columns:
    if df[i].skew() > 0:
        right_skew.append(i)
    else:
        left_skew.append(i)

In [14]:
right_trf = FunctionTransformer(func = np.square)
left_trf = FunctionTransformer(func = np.log1p)
right_trfd = right_trf.fit_transform(df[right_skew])
left_trfd = left_trf.fit_transform(df[left_skew])

data_proc = pd.concat([right_trfd , left_trfd , b] , axis = 1 , join = "inner")

train and test data

In [16]:
train , test = np.split(df.sample(frac = 1) , [int(0.8 * len(df))])

In [17]:
def pre(dataframe):
    target = ["Level"]
    x = dataframe.drop(target , axis = 1)
    y = dataframe[target]
    
    return x , y

In [18]:
X_train , Y_train = pre(train)
X_test , Y_test = pre(test)

Applying ml model

KNeighborsRegressor

In [19]:
model_0 = KNeighborsRegressor()
model_0.fit(X_train , Y_train)

KNeighborsRegressor()

LinearRegression

In [20]:
model_1 = LinearRegression()
model_1.fit(X_train , Y_train)

LinearRegression()

 LogisticRegression

In [21]:
model_2 = LogisticRegression()
model_2.fit(X_train , Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

RidgeRegression

In [22]:
model_3 = Ridge()
model_3.fit(X_train , Y_train)

Ridge()

Lasso Rigrassion

In [23]:
model_4 = Lasso()
model_4.fit(X_train , Y_train)

Lasso()

SupportVectorMachine

In [24]:
model_5 = SVC()
model_5.fit(X_train , Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

GaussianNaiveBayes

In [25]:
model_6 = GaussianNB()
model_6.fit(X_train , Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

RandomForestClassfier

In [26]:
model_7 = RandomForestClassifier()
model_7.fit(X_train , Y_train)

<ipython-input-26-e03c9f27aa2c>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_7.fit(X_train , Y_train)

RandomForestClassifier()

In [28]:
from sklearn.metrics import r2_score

In [29]:
print("R2 score for " , model_0 , " is : " , r2_score(Y_test , model_0.predict(X_test)))
print("R2 score for " , model_1 , " is : " , r2_score(Y_test , model_1.predict(X_test)))
print("R2 score for " , model_2 , " is : " , r2_score(Y_test , model_2.predict(X_test)))
print("R2 score for " , model_3 , " is : " , r2_score(Y_test , model_3.predict(X_test)))
print("R2 score for " , model_4 , " is : " , r2_score(Y_test , model_4.predict(X_test)))
print("R2 score for " , model_5 , " is : " , r2_score(Y_test , model_5.predict(X_test)))
print("R2 score for " , model_6 , " is : " , r2_score(Y_test , model_6.predict(X_test)))
print("R2 score for " , model_7 , " is : " , r2_score(Y_test , model_7.predict(X_test)))

R2 score for  KNeighborsRegressor()  is :  0.9880252637727721
R2 score for  LinearRegression()  is :  0.9197042036711024
R2 score for  LogisticRegression()  is :  0.9926983315687634
R2 score for  Ridge()  is :  0.9197244749186981
R2 score for  Lasso()  is :  0.3748405897079211
R2 score for  SVC()  is :  0.9561899894125808
R2 score for  GaussianNB()  is :  0.6933299258880655
R2 score for  RandomForestClassifier()  is :  1.0

Lung cancer is the leading cause of cancer death worldwide, accounting for 1.59 million deaths in 2018. The majority of lung cancer cases are attributed to smoking, but exposure to air pollution is also a risk factor. A new study has found that air pollution may be linked to an increased risk of lung cancer, even in nonsmokers.

dataset from keggle